<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>
    　　　　　　　　　　
    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        　　　　　　　　　　　　
        <file>./log/info.log</file>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        　　　　　　　　　　　　
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>./log/info.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>30</maxIndex>
        </rollingPolicy>
        　　　　　　　　　　　　
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
        　　　　　　　　　　　　
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
        　　　　　　　　　　
    </appender>

    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        　　　　　　　　　　　　
        <file>./log/error.log</file>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        　　　　　　　　　　　　
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>./log/error.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>30</maxIndex>
        </rollingPolicy>

        　　　　　　　　　　　　
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
        　　　　　　　　　　　　
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
        　　　　　　　　　　
    </appender>

    <!--<logger name="org.eclipse.jetty" level="INFO"/>-->
    <!--<logger name="org.springframework.web" level="info"/>-->
    <logger name="org.hibernate" level="info"/>

    　　　　　　　　　　
    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="INFO" level="INFO"/>
        <appender-ref ref="ERROR" level="ERROR"/>
        　　　　　　　　　　
    </root>
    　　　　　　　　
</configuration>